<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Quan ly dien vien</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
<body>
    <h1>Quan ly Lop hoc</h1>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modelId">
        Create
      </button>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">id</th>
          <th scope="col">Mã quản lý</th>
          <th scope="col">Tên quản lý</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i = 0; i< classes.length; i++) { %>
            <tr>
                <th scope="row"><%=i%></th>
                <td><%=classes[i].id%></td>
                <td><%=classes[i].ma_quanly%></td>
                <td><%=classes[i].ten%></td>
                <td>
                  <a class="btn btn-danger mr-1" href="/quanlys/delete/<%=classes[i].ma_quanly%>">Delete</a>
                  <a class="btn btn-success" href="/quanlys/update/form/<%=classes[i].ma_quanly%>" >Update</a</td>
                </td>
              </tr>
        <%}%>
        </tbody>
    </table>

    <!-- form -->
     <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    <form action="/quanlys/add" method="POST">
                      <div class="form-group">
                          <label for="">Ma quản lý</label>
                          <input type="text" name="ma_quanly" class="form-control" aria-describedby="">
                        </div>
                        <div class="form-group">
                          <label for="">tên quản lý</label>
                          <input type="text" name="ten" class="form-control" aria-describedby="">
                        </div>
                        <button type="submit" class="btn btn-primary">Add</button>
                  </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
               
                </div>
            </div>
        </div>
    </div>

    <h1>Quan ly dien vien</h1> 
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Create
    </button>
    <% if(dienviens.length) { %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">id</th>
          <th scope="col">Ma dien vien</th>
          <th scope="col">Ten dien vien</th>
          <th scope="col">tuoi</th>
          <th scope="col">avatar</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i = 0; i< dienviens.length; i++) { %>
        <tr>
          <th scope="row"><%=i%></th>
          <td><%= dienviens[i].id%></td>
          <td><%= dienviens[i].ma_dienvien%></td>
          <td><%= dienviens[i].ten_dienvien%></td>
          <td><%= dienviens[i].tuoi%></td>
          <td><%if(dienviens[i].hinh) {%><img style="width: 100px; height: 100px;" class="img-thumbnail" src="<%= dienviens[i].hinh%>" alt=""><%}%></td>
          <td>
            <a class="btn btn-danger mr-1" href="/dienviens/delete/<%=dienviens[i].ma_dienvien%>">Delete</a>
            <a class="btn btn-success" href="/dienviens/update/form/<%=dienviens[i].ma_dienvien%>" >Update</a</td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <% } %>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Create new dien vien</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/dienviens/add" method="POST">
                <div class="form-group">
                  <label for="">Ma dien vien</label>
                  <input type="text" name="ma_dienvien" class="form-control" aria-describedby="">
                </div>
                <div class="form-group">
                  <label for="">Ten dien vien</label>
                  <input type="text" name="ten_dienvien" class="form-control"  aria-describedby="">
                </div>
                <div class="form-group">
                  <label for="">tuoi</label>
                  <input type="text" name="tuoi" class="form-control"  aria-describedby="">
                </div>
                <div class="form-group">
                  <label for="">Ten Lop</label>
                  <select class="form-control" id="ma_quanly" name="ma_quanly">
                    <% for(let i = 0; i< classes.length; i++) { %>
                    <option value="<%= classes[i].ma_quanly%>"><%= classes[i].ten%></option>
                    <% } %>
                  </select>
                </div>
                <div class="form-group">
                  <label for="">Avatar</label>
                  <input type="text" name="avatar" class="form-control" aria-describedby="">
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div> 

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>